<h1><%= @album.name %></h1>

<%= link_to "New Photo", new_album_photo_path(@album), class: 'button' %>

<ul class='photos-list'>
  <% @album.photos.each do |photo| %>
    <li>
      <%= link_to photo, title:photo.title do %>
        <%= image_tag photo.attachment.url(:thumb) %>
      <% end %>
    </li>
  <% end %>
</ul>
