<div class="content-view">
  <h1>Photo Gallery</h1>

  <%= link_to "New Photo", new_photo_path, class: 'button' %>

  <ul class='photos-list'>
    <% @photos.each do |photo| %>
      <li>
        <%= link_to photo, title:photo.title do %>
          <%= image_tag photo.attachment.url(:thumb) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
